In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
725,tt0800369,150000000,444115007,Thor,Chris Hemsworth|Natalie Portman|Tom Hiddleston...,Kenneth Branagh,Two worlds. One hero.,"Against his father Odin's will, The Mighty Tho...",115,Adventure|Fantasy|Action,Marvel Studios|Marvel Entertainment,4/21/2011,6.5,2011
1675,tt0465234,130000000,457363168,National Treasure: Book of Secrets,Nicolas Cage|Jon Voight|Harvey Keitel|Ed Harri...,Jon Turteltaub,The Greatest Adventure History Has Ever Revealed,Benjamin Franklin Gates and Dr. Abigail Chase ...,124,Action|Adventure|Mystery|Thriller,Jerry Bruckheimer Films|Saturn Films|Walt Disn...,12/13/2007,6.0,2007
681,tt0918927,20000000,50907234,Doubt,Amy Adams|Philip Seymour Hoffman|Meryl Streep|...,John Patrick Shanley,There is no evidence. There are no witnesses. ...,"In 1964, a Catholic school nun questions a pri...",104,Drama|Mystery,Miramax Films,11/27/2008,6.7,2008
1622,tt0316732,25000000,36609966,Taxi,Queen Latifah|Jimmy Fallon|Gisele BÃ¼ndchen|He...,Tim Story,Take a Ride on the Wild Side.,A mouthy and feisty taxicab driver has hot tip...,97,Thriller|Action|Comedy|Crime,Twentieth Century Fox Film Corporation|Robert ...,10/6/2004,5.0,2004
1160,tt0289992,50000000,38955598,The Life of David Gale,Kevin Spacey|Kate Winslet|Laura Linney|Gabriel...,Alan Parker,The crime is clear. The truth is not.,A man against capital punishment is accused of...,130,Drama|Thriller|Crime,Universal Pictures|Intermedia Films|Saturn Films,2/21/2003,7.2,2003

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

def profit_calc(row): # столбец с прибылью. Прибыль = сборы - бюджет (profit = revenue - budget)
    return row['revenue'] - row['budget'] 

def get_unique_list(df,column): # get unique values from data in certain column
    temp_list = []
    temp_list1 = []
    for x in df[column].unique():
        temp_list.append(x.split('|'))
    for y in temp_list:
        for z in y:
            temp_list1.append(z)
    return np.unique(temp_list1)

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
data.loc[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals' # +

In [10]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [12]:
answers['3'] = 'Winnie the Pooh' # +

# 4. Какова средняя длительность фильмов?

In [13]:
data.runtime.mean()

109.6585494970884

In [14]:
answers['4'] = '110' # +

# 5. Каково медианное значение длительности фильмов?

In [15]:
data.runtime.median()

107.0

In [16]:
answers['5'] = '107' # +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.apply(profit_calc, axis=1)

In [18]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [19]:
answers['6'] = 'Avatar' # +

# 7. Какой фильм самый убыточный?

In [20]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [21]:
answers['7'] = 'The Lone Ranger' # +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
data[data.revenue > data.budget].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [23]:
answers['8'] = '1478' # +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
data[data.profit == data[(data.release_year == 2008)].profit.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [25]:
answers['9'] = 'The Dark Knight' # +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
data[data.profit == data[(data.release_year > 2012) & (data.release_year <=2014)].profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [27]:
answers['10'] = 'The Lone Ranger' # +

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
dict_genres = {}
for each in get_unique_list(data,'genres'):
    dict_genres[each] = data[data.genres.str.contains(each)].revenue.count()
dict_genres
q = sorted(dict_genres.items(), key=lambda x: x[1], reverse=True)
q[0]

('Drama', 782)

In [29]:
answers['11'] = 'Drama' # +

ВАРИАНТ 2

In [30]:
# скорей всего можно както через pivot_table, я пробовала раза два у меня не вышло

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
data1 = data[data.profit > 0]
dict_genres = {}
for each in get_unique_list(data1,'genres'):
    dict_genres[each] = data1[data1.genres.str.contains(each)].revenue.count()
q = sorted(dict_genres.items(), key=lambda x: x[1], reverse=True)
print(q[0])

('Drama', 560)

In [32]:
answers['12'] = 'Drama' # +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
dict_ders = {}
for each in get_unique_list(data,'director'):
    dict_ders[each] = data[data.director.str.contains(each)].revenue.sum()
q = sorted(dict_ders.items(), key=lambda x: x[1], reverse=True)
print(q[0])

('Peter Jackson', 6490593685)

In [34]:
answers['13'] = 'Peter Jackson' # +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
d1 = data[data.genres.str.contains('Action')]
dict_dirs = {}
for each in get_unique_list(d1,'director'):
    dict_dirs[each] = d1[d1.director.str.contains(each)].revenue.count()
dict_dirs
q = sorted(dict_dirs.items(), key=lambda x: x[1], reverse=True)
q[0]

('Robert Rodriguez', 9)

In [36]:
answers['14'] = 'Robert Rodriguez' # +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
df1 = data[data.release_year == 2012]
df1['new_cast'] = df1['cast'].str.split('|')
df1 = df1.explode('new_cast')
data1 = df1.groupby('new_cast')['revenue'].agg('sum').sort_values(ascending=False)
data1

<ipython-input-37-229c3392f8f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['new_cast'] = df1['cast'].str.split('|')

new_cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [38]:
answers['15'] = 'Chris Hemsworth' # +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
data2=data[data.budget > data.budget.mean()]
data2['new_cast'] = data2['cast'].str.split('|')
data2 = data2.explode('new_cast')
data3 = data2.groupby('new_cast')['original_title'].agg('count').sort_values(ascending=False)
data3

<ipython-input-39-9885a9d42910>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['new_cast'] = data2['cast'].str.split('|')

new_cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: original_title, Length: 1505, dtype: int64

In [40]:
answers['16'] = 'Matt Damon' # +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
data4 = data.copy()
data4['new_cast'] = data['cast'].str.split('|')
data4 = data4.explode('new_cast')
data5 = data4[data4.new_cast == 'Nicolas Cage']
data5['new_genres'] = data5['genres'].str.split('|')
data5 = data5.explode('new_genres')
data6 = data5.groupby('new_genres')['new_cast'].agg('count').sort_values(ascending=False)
data6

<ipython-input-41-96d2bd3f9968>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data5['new_genres'] = data5['genres'].str.split('|')

new_genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: new_cast, dtype: int64

In [42]:
answers['17'] = 'Action' # +

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
data7 = data.copy()
data7['new_production_companies'] = data7['production_companies'].str.split('|')
data7 = data7.explode('new_production_companies')
data8 = data7[data7.new_production_companies == 'Paramount Pictures']
data8[data8.profit == data8.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [44]:
answers['18'] = 'K-19: The Widowmaker' # +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
data.groupby('release_year')['revenue'].agg('sum').sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [46]:
answers['19'] = '2015' # +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
data10 = data[data.production_companies.str.contains('Warner')]
data11 = data10.groupby('release_year')['revenue'].agg('sum').sort_values(ascending=False)
data11

release_year
2014    3243064519
2007    3213217007
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2470278228
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1526651739
2000    1025531386
Name: revenue, dtype: int64

In [48]:
answers['20'] = '2014' # +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
data11 = data.copy()
def month_add(s):
    return s.split('/')[0]
data11['month_release'] = data11.release_date.apply(month_add)
data12 = data11.groupby('month_release')['original_title'].agg('count').sort_values(ascending=False)
data12

month_release
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [50]:
answers['21'] = 'September' # +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [66]:
data12.loc['6'] + data12.loc['7'] + data12.loc['8']

450

In [52]:
answers['22'] = '450' # +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
data13 = data11[(data11.month_release == '11') | (data11.month_release == '12') | (data11.month_release == '1')]
data13['new_director'] = data13['director'].str.split('|')
data13 = data13.explode('new_director')
data14 = data13.groupby('new_director')['original_title'].agg('count').sort_values(ascending=False)
data14

<ipython-input-53-4194bf18a743>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data13['new_director'] = data13['director'].str.split('|')

new_director
Peter Jackson          8
Clint Eastwood         7
Steven Soderbergh      6
Martin Scorsese        4
Peter Farrelly         4
                      ..
Michel Gondry          1
Miguel Arteta          1
Mike Binder            1
Mike Mitchell          1
Julie Anne Robinson    1
Name: original_title, Length: 371, dtype: int64

In [54]:
answers['23'] = 'Peter Jackson' # +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
data15 = data7.copy()
def title_length(s):
    return len(s)
data15['title_length'] = data15.original_title.apply(title_length)
data16 = data15.groupby('new_production_companies')['title_length'].agg('max').sort_values(ascending=False)
data16

new_production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: title_length, Length: 1771, dtype: int64

In [56]:
answers['24'] = 'Four By Two Productions' # +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
data17 = data7.copy()
def overview_length(s):
    return len(s.split(' '))
data17['overview_length'] = data17.overview.apply(overview_length)
data18 = data17.groupby('new_production_companies')['overview_length'].agg('mean').sort_values(ascending=False)
data18

new_production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

In [58]:
answers['25'] = 'Midnight Picture Show' # +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
data[data.vote_average > data.vote_average.quantile([.99]).loc[0.99]].sort_values(by = 'vote_average', ascending=False).original_title

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [60]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list = []
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actors_combinations']
combo_list.actors_combinations.value_counts().head(10)

Daniel Radcliffe Rupert Grint       8
Emma Watson Rupert Grint            8
Daniel Radcliffe Emma Watson        8
Ben Stiller Owen Wilson             6
Helena Bonham Carter Johnny Depp    6
Hugh Jackman Ian McKellen           5
Kristen Stewart Taylor Lautner      5
Paul Walker Vin Diesel              5
Robert Pattinson Taylor Lautner     5
Adam Sandler Kevin James            5
Name: actors_combinations, dtype: int64

In [62]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

ВАРИАНТ 2

In [63]:
# уже нет сил думать простите

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27